<html>
  <head>
    <title>Rules Search App</title>
    <script src="assets/js/powers.js"></script>
    <script src="assets/js/lodash.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>


    <!-- Angular Material Javascript now available via Google CDN; version 0.8 used here -->
    <script src="assets/js/angular-material.js"></script>

    <link href="assets/css/angular-material.css" media="all" rel="stylesheet">
    <link href="assets/css/style.css" media="all" rel="stylesheet">

    <script>
      angular.module('rulesApp', ['ngMaterial'])
        .controller('searchCtrl', function ($scope, $filter) {
          console.log('Hello from "searchCtrl"');
          $scope.powers = window.powers;
          $scope.attackAttributes = [
            'Agility',
            'Enchantment',
            'Entropy',
            'Might',
            'Energy',
            'Illusion',
            'Psychic',
            'Divination'
          ];
          $scope.selectedPowers = [];
          $scope.selectedAttributes = [];
          $scope.searchQuery = '';
          $scope.textSearchFilter = function (item,index,array) {
            // if `searchQuery` is empty, we want to show all list items
            if ( $scope.searchQuery === '' ) {
              return true;
            }
            var regex = new RegExp($scope.searchQuery, 'gi');
            var show = false; // initially we assume that we won't show a given result
            // now we look for matches in the following object properties
            show = item.name.match(regex) || item.description.match(regex) || item.effect.match(regex);
            // return the result (either `true` or `false`)
            return show;
          }

        });
    </script>
  </head>
  <body ng-app="rulesApp" layout="column" ng-controller="searchCtrl">
    <md-toolbar class="md-default-theme">
      <div class="md-toolbar-tools">
        <h1 class="md-headline">
          <span>Rules Search</span>
        </h1>
      </div>

    </md-toolbar>
    <md-toolbar md-scroll-shrink>

      <div layout="row">
        <div class="left-search" flex layout-padding>
        <md-autocomplete
            md-items="item in []"
            md-item-text="item.name"
            md-search-text="searchQuery"
            placeholder="Text Search">
        </md-autocomplete>

        </div>
        <md-chips ng-model="selectedAttributes" md-autocomplete-snap flex layout-padding>
          <md-autocomplete
              md-selected-item="selectedItem"
              md-items="item in attackAttributes"
              md-item-text="item.name"
              placeholder="Attribute Filters">
            <span md-highlight-text="searchText">{{item}}</span>
              (<span ng-repeat="power in item.power"><em><small>{{ power }}</small></em></span>)
          </md-autocomplete>
          <md-chip-template>
            <span>
              <strong>{{$chip}}</strong>
              <em>({{$chip.tags[0]}})</em>
            </span>
          </md-chip-template>
        </md-chips>

      </div>

    </md-toolbar>

    <md-content>
      <div>
        <md-list>

          <md-list-item ng-repeat="thisPower in powers | filter:textSearchFilter">
            <div class="md-list-item-text">
              <h2 class="md-display-1">{{thisPower.name}}</h2>
              <strong>Duration:</strong> {{thisPower.duration}}
              <br><br>
              <strong>Power Level:</strong>
              <span ng-repeat="power in thisPower.power">
                <span ng-if="$index != 0"> / </span>
                {{power}}
              </span>
              <br><br>
              <strong>Attack:</strong><br>
              <ul>
                <li ng-repeat="attack in thisPower.attack">
                  {{attack}}
                </li>
              </ul>
              <div ng-if="thisPower.description">
                <h3 class="md-headline">Description</h3>
                {{thisPower.description}}
              </div>
              <div ng-if="thisPower.effect">
                <h3 class="md-headline">Effect</h3>
                {{thisPower.effect}}
              </div>
              <div ng-if="thisPower.special">
                <h3 class="md-headline">Special</h3>
                {{thisPower.special}}
              </div>
              <br><br>
            </div>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>
      </div>

    </md-content>
  </body>
</html>
