.left-search {
    background: white;
}

.left-search md-autocomplete {
    border-radius: 0px;
    height: 48px;
}

.left-search md-autocomplete input:not(.md-input) {
    margin-top: 4px;
    line-height: 40px;
}
